<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">
        <fieldset ng-disabled="regIsClosed">

        <div class="divided2 title">Basic Information</div>

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

      <div class="field">
        <label>Pronouns</label>
        <input type="text"
              name="pronouns"
               placeholder="she/her, he/him, they/them?"
               ng-model="user.profile.pronouns">
      </div>

      <div class="field">
        <label>Race</label>
        <select name="race" multiple="" class="ui fluid dropdown" ng-model="user.profile.race">
          <option value="N">American Indian or Native Alaskan</option>
          <option value="A">Asian or Pacific Islander</option>
          <option value="W">White or Caucasian</option>
          <option value="B">Black or African American</option>
          <option value="H">Hispanic or Latino</option>
          <option value="P">Prefer not to answer</option>
          <option value="O">Other</option>
        </select>
      </div>

      <script>$('.ui.dropdown').dropdown(); $('#multi-select').dropdown();</script>
      <div class="divided2 title">Getting to know you</div>
        <div class="field">
            <label> What are you studying? </label>
            <input type="text"
                   name="study"
                   placeholder="Computer Science, Product Design, Basket Weaving..."
                   ng-model="user.profile.major">
        </div>
        <div class="field">
            <label>How many hackathons have you been to?</label>
            <input type="text"
                   name="hackathons"
                   placeholder="One, two, countably infinite..."
                   ng-model="user.profile.hackathons">
        </div>
        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="divided2 title"> Skills and Accomplishments </div>

          <div class="field">
            <label>Resume</label>
            <p>
              Upload a resume outlining any skills or experience you'd like to share. PDF preferred!
            </p>
            <p>
              <i>Please upload the resume with the name and email you used to sign up. If your Dropbox account is under another email address, log out, and you'll be able to submit using the .edu you signed up with. Keep it under 2MB!</i>
            </p>  
            <a
              target="_blank"
              href="https://www.dropbox.com/request/63wIyksrncYpVWp0ZHLu"
              class="ui uncommonraspberry button">
              Upload
            </a>
          </div>
        <div class="field">
          <label>
            Anything you're proud of? Github, Twitter, Devpost, website, etc...
          </label>
          <textarea style="height: 8em" ng-model="user.profile.proudof">
          </textarea>
        </div>
        <div class="divided2 title">The Fun Stuff</div>
        <p>Keep these short, please. Maybe around 20 words?</p>
        <div class="field">
          <label>
            If you could dat-a structure which would you?
          </label>
          <textarea style="height: 8em" ng-model="user.profile.essay1">
          </textarea>
        </div>
        <div class="field">
          <label>
            What makes your stack overflow?
          </label>
          <textarea style="height: 8em" ng-model="user.profile.essay2">
          </textarea>
        </div>
        <div class="field">
          <label>
            Write a haiku about how you would estimate the number of crows in Chicago.          
          </label>
          <textarea style="height: 8em" ng-model="user.profile.essay3">
          </textarea>
        </div>
        <div class="field">
          <label>
            If your major were a variety of celery, which one would it be and why? (if you don’t know what your major is or don’t like it just randomly pick another one)
          </label>
          <textarea style="height: 8em" ng-model="user.profile.essay4">
          </textarea>
        </div>
        <div class="field">
          <label>
            What programming language would your favorite celebrity use? <a target="_blank" href="https://en.wikipedia.org/wiki/Esoteric_programming_language#Examples">Esoteric programming languages</a>, puns, or made up languages are cool!
          </label>
          <textarea style="height: 8em" ng-model="user.profile.essay5">
          </textarea>
        </div>

        <div class="divided2 title">Travel</div>

          <div class="field">
            <label> Where are you coming from? </label>
            <input type="text"
                   name="location"
                   placeholder="City, State/Country"
                   ng-model="user.profile.location">
          </div>

          <div class="field">
            <p>
              We anticipate being able to offer limited travel reimbursements for Uncommon Hacks. Priority consideration for travel reimbursements will be granted to hackers who apply before January 1, 2018. More details will be communicated on our website and to accepted hackers.
            </p>
          </div>

          <div class="field">
            <label> Will you be needing travel reimbursement? </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.profile.needsReimbursement">
              <label> I will be needing travel reimbursement. </label>
            </div>
          </div>

        <div class="divided2 title">Legal Stuff</div>
        <div class="field">
          <p>
            Because of limitations imposed by our venue, we are not legally allowed to host minors (those under 18) for Uncommon Hacks 2018. Checking the box below affirms that you are or will be 18 years or older by February 10th, 2018.
          </p>
          <p>
            <strong>
            We will be checking ID. If you are a minor, you will be turned away at the door.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div>

        <br>
          <div class="field">
            <label> Information Release </label>
            <p>
              I agree that my information may be shared with event partners and sponsors who may use that information to contact me for recruiting purposes or other purposes. If you do not consent to having your information shared in this manner, please leave this box unchecked.
            </p>
            <div class="ui checkbox">
              <input type="checkbox" id="inforelease" ng-model="user.profile.inforelease">
              <label for="inforelease">I agree to share my information.</label>
            </div>
          </div>

          <div class="field">
            <label> MLH Terms and Conditions and Privacy Policy </label>
            <p>
              Read the <a target="_blank" href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions">MLH Contest Terms and Conditions</a> and <a target="_blank" href="https://mlh.io/privacy"> MLH Privacy Policy</a> here.
            </p>
            <p>
              I agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.
            </p>
            <input type="text"
                   name="signatureTermsConditions"
                   placeholder="Your Full Legal Name"
                   ng-model="user.profile.signatureTermsConditions">
          </div>

          <div class="field">
            <label> Code of Conduct </label>
            <p>
              Read the <a target="_blank" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a> here.
            </p>
            <p>
              I agree to abide by the MLH Code of Conduct detailed above.
            </p>
            <input type="text"
                   name="signatureCodeOfConduct"
                   placeholder="Your Full Legal Name"
                   ng-model="user.profile.signatureCodeOfConduct">
          </div>
          <br>
          <br>
        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui uncommonpurple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
