// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.


$primary: #82eaff;
$secondary: #ffa373;
$tertiary: #a8e479;


$login-bg: url('/assets/images/snake.png');
