// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.


$primary: #8969AE;
$secondary: #ffa373;
$tertiary: #a8e479;

$uncommonteal: #83D2E6;
$uncommonpurple: #8969AE;
$uncommonred: #EC5958;
$uncommonmagenta: #B35CA4;
$uncommonblue: #69BAE8;
$uncommonyellow: #EFE564;
$uncommongreen: #8BCFB7;
$uncommonpink: #F06498;
$uncommonorange: #EFA02E;
$uncommonraspberry: #B357A1;

$login-bg: url('/assets/images/snake.png');
