@import 'branding';
@import 'custom';
$font-body: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-header: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;

// Login screen variables
$login-bg-color: $secondary;
$login-color: $uncommonblue;
$register-color: $uncommongreen;

$status-unverified-color: $uncommonorange;
$status-incomplete-color: $uncommonpink;
$status-submitted-color: lighten($uncommonblue, 10%);
$status-admitted-color: $uncommonteal;
$status-confirmed-color: $uncommongreen;
$status-checkedin-color: $uncommonraspberry;
$status-waitlist-color: $uncommonblue;
$status-declined-color: lighten($uncommonraspberry, 10%);;
$status-rejected-color: $uncommonred;

// Sidebar variables
$sidebar-color: #333333;
$sidebar-width: 265px;
$sidebar-transition-time: .5s;
$sidebar-tab-size: 55px;

// Page variables
$page-header-color: #EFA02E;

$brand-primary: $primary;
$brand-secondary: $secondary;
$brand-tertiary: $tertiary;


@mixin transform($transforms) {
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@import 'login';
@import 'base';
@import 'sidebar';
@import 'page';
@import 'dashboard';
@import 'application';
@import 'verify';
@import 'team';
@import 'admin';

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1.02em;
}

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;

  > .container {
    width: 100%;
    height: 100%;
  }
}

/**
 * SweetAlert Overrides
 */
.sweet-alert {
  font-family: $font-body;
}

/**
 * Semantic-UI Overrides for squareishness
 */
.ui.segment {
  border-radius: 0;
  box-shadow: none;
  &.uncommongreen {
    border-top: 2px solid $uncommongreen;
  }
  &.uncommonraspberry {
    border-top: 2px solid $uncommonraspberry;
  }
}

.ui.label {
  &.uncommonblue {
    background-color: $uncommonblue !important;
    border-color: $uncommonblue !important;
    color: #fff !important;
  }
  &.uncommonteal {
    background-color: $uncommonteal !important;
    border-color: $uncommonteal !important;
    color: #fff !important;
  }
  &.uncommongreen {
    background-color: $uncommongreen !important;
    border-color: $uncommongreen !important;
    color: #fff !important;
  }
  &.uncommonred {
    background-color: $uncommonred !important;
    border-color: $uncommonred !important;
    color: #fff !important;
  }
}

input {
  border-radius: 0 !important;
}
.ui.button {
  color: #fff; 
  text-shadow: none;
  background-image: none;
  border-radius: 0;
  &.uncommonpurple {
    background: $uncommonpurple;
    &:hover {
      background: lighten($uncommonpurple, 3%);
      color: #fff;
    }
    &:active {
      background: darken($uncommonpurple, 3%);
      color: #fff;
    }
    &:focus {
      background: $uncommonpurple;
      color: #fff;
    }
  }
  &.uncommonraspberry {
    background: $uncommonraspberry;
    &:hover {
      background: lighten($uncommonraspberry, 3%);
      color: #fff;
    }
    &:active {
      background: darken($uncommonraspberry, 3%);
      color: #fff;
    }
    &:focus {
      background: $uncommonraspberry;
      color: #fff;
    }
  }
  &.uncommonred {
    background: $uncommonred;
    &:hover {
      background: lighten($uncommonred, 3%);
      color: #fff;
    }
    &:active {
      background: darken($uncommonred, 3%);
      color: #fff;
    }
    &:focus {
      background: $uncommonred;
      color: #fff;
    }
  }
}

.icon {
  &.uncommonred {
    color: $uncommonred;
  }
  &.uncommongreen {
    color: $uncommongreen;
  }
}

.deadline {
  padding: 20px 10px;
}
.ui.form select {
  height: 2.5em;
}

fieldset {
  padding: 0;
  border: none;
}

.ui.search >.results {
  width: 100%;
}
// @import 'animation';
